<% if @flash %>
  <div><%= @flash %></div>
<% end %>

<form action="/" method="post">
  <label for="url">URL
    <input type="text" name="url" />
  </label>
  <input type="submit" value="Submit" />
</form>
