<!DOCTYPE html>
<html>
  <head>
    <title>A link shortener</title>
    <link rel="stylesheet" type="text/css" href="/application.css">
  </head>
  <body>
    <div id="container">
      <% if session[:error] %>
        <div id="flash">
          <div class="flash error"><%= session[:error] %></div>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
